<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quality Life Report - Cartagena</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <!--CHART.JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>

        <style>
            body,h1,h2,h3,h4,h5,h6 {
                font-family: "Lato", sans-serif
            }
            .navbar-brand,.nav-item {
                padding: 8px;
            }
            .jumbotron {
                padding-top: 120px;
                padding-bottom: 220px;
                background: url(https://i.ibb.co/2n0fscr/educacion.png);
                background-size: 100% 100%;
                background-repeat:no-repeat;
            }
            @media all and (min-width: 400px) and (max-width: 1000px)
            {  
                .jumbotron {
                    background-size: 100% 60%;
                }
            }
            @media all and (min-width: 1000px) 
            {
                .github_link {
                    padding-left: 500px;
                }
            }
        </style>
    </head>
<body>
    
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0 fixed-top">
        <a class="navbar-brand" href="{%url 'home'%}">
            <img src="https://cdn-icons-png.flaticon.com/512/3187/3187594.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Quality Life Report
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'home'%}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'demography'%}">Demograf&iacute;a</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'poverty'%}">Pobreza</a>
                </li>
                <li class="nav-item active bg-white">
                    <a class="nav-link text-dark" href="#">Educaci&oacute;n</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'safety'%}">Seguridad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'mobility'%}">Movilidad</a>
                </li>
                <li class="nav-item github_link">
                    <a class="nav-link" target="_blank" href="https://github.com/EmilyV04/Python-DjangoDashboard-QualityLifeReport">
                        <img src="https://cdn.icon-icons.com/icons2/2429/PNG/512/github_logo_icon_147285.png" width="30" height="30" alt="">
                        View in GitHub
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1></h1>
        <p></p>
    </div>

    <!-- Table 'Matricula Escolar' -->
    <div class="container">
        <h2>Matr&iacute;cula Escolar en Cartagena</h2>
        <h5>
            <b>Con la pandemia, se ha reducido en un 21% matrícula de preescolar,
            siendo el nivel educativo con mayor afectación</b>. Al ser el inicio del proceso educativo,
            no corregir a tiempo las fallas se traducirá en retos más grandes en el futuro.
        </h5>
        <br>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>AÑO</th>
                                <th>NIVEL EDUCATIVO</th>
                                <th>TIPO DE MATR&Iacute;CULA</th>
                                <th>CANTIDAD DE MATR&Iacute;CULAS</th>
                            </tr>
                        </thead>
                        {% for e in enrollment %}
                            <tr>
                                <td>{{e.enrollment_id}}</td>
                                <td>{{e.year}}</td>
                                <td>{{e.get_educational_level_display}}</td> <!-- PARA MOSTRAR LABEL DE 'CHOICES' USAR get_NOMBREDELCAMPO_display -->
                                <td>{{e.get_type_enrollment_display}}</td> <!-- PARA MOSTRAR LABEL DE 'CHOICES' USAR get_NOMBREDELCAMPO_display -->
                                <td>{{e.amount_enrollment}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="col-md-12 col-xs-12">
                <canvas id="chartBarMatriculaEscolar"></canvas>
            </div>
        </div>
    </div>

    <div class="col-md-12 p-4"></div>

    <!-- Table 'Tasa de Desercion' -->
    <div class="container">
        <h2>Tasa de Deserci&oacute;n en Cartagena</h2>
        <h5>
            En 2021, <b>los niveles educativos con mayor deserción fueron
            preescolar y secundaria</b> con más del 4% de estudiantes que no
            terminó el año escolar.
        </h5>
        <br>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>AÑO</th>
                                <th>NIVEL EDUCATIVO</th>
                                <th>&Iacute;NDICE DE DESERCI&Oacute;N (%)</th>
                            </tr>
                        </thead>
                        {% for d in desertion %}
                            <tr>
                                <td>{{d.desertion_id}}</td>
                                <td>{{d.year}}</td>
                                <td>{{d.get_educational_level_display}}</td> <!-- PARA MOSTRAR LABEL DE 'CHOICES' USAR get_NOMBREDELCAMPO_display -->
                                <td>{{d.desertion_index}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <canvas id="chartBarTasaDesercion"></canvas>
            </div>
        </div>
    </div>

    <div class="col-md-12 p-4"></div>

    <!-- Footer -->
    <footer class="page-footer font-small bg-dark">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 text-white">© 2022 Copyright |
            <a class="text-white" href="">Emily Vanegas & Andr&eacute;s Torres</a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>

<script>
    $(document).ready(function(){
        // graficarMatriculaEscolar();
        graficarTasaDesercion();
    });

    /* function graficarMatriculaEscolar(){
        var ctxBarMatriculaEscolar = document.getElementById('chartBarMatriculaEscolar').getContext('2d');
        var chartBarMatriculaEscolar = new Chart(ctxBarMatriculaEscolar, {
            type: 'bar',
            data: {
                labels: [{%for data in enrollment%}'{{data.get_educational_level_display}}',{%endfor%}],
                datasets: [{
                    label: 'Matricula',
                    data: [{%for data in enrollment%}{% if data.get_type_enrollment_display == 'Matricula Oficial' %}'{{amount_enrollment}}',{%endif%}{%endfor%}],
                    backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(201, 203, 207, 0.2)'
                    ],
                    borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                    'rgb(201, 203, 207)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                plugins:{
                    legend: {display: false},
                    title: {
                        display: true,
                        text: "Matricula Escolar en Cartagena"
                    }
                }
            }
        });
    } */

    function graficarTasaDesercion(){
        var ctxBarTasaDesercion = document.getElementById('chartBarTasaDesercion').getContext('2d');
        var chartBarTasaDesercion = new Chart(ctxBarTasaDesercion, {
            type: 'bar',
            data: {
                labels: [{%for data in desertion%}'{{data.get_educational_level_display}}',{%endfor%}],
                datasets: [{
                  label: 'Indice de Deserción (%)',
                    data: [{%for data in desertion%}{{data.desertion_index}},{%endfor%}],
                    backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(201, 203, 207, 0.2)'
                    ],
                    borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                    'rgb(201, 203, 207)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                plugins:{
                    legend: {display: false},
                    title: {
                        display: true,
                        text: "Tasa de Deserción en Cartagena"
                    }
                }
            }
        });
    }

</script>