<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quality Life Report - Cartagena</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <!--CHART.JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>

        <style>
            body,h1,h2,h3,h4,h5,h6 {
                font-family: "Lato", sans-serif
            }
            .navbar-brand,.nav-item {
                padding: 8px;
            }
            .jumbotron {
                padding-top: 120px;
                padding-bottom: 220px;
                background: url(https://i.ibb.co/C6Vz8gb/movilidad.png);
                background-size: 100% 100%;
                background-repeat:no-repeat;
            }
            @media all and (min-width: 400px) and (max-width: 1000px)
            {  
                .jumbotron {
                    background-size: 100% 60%;
                }
            }
            @media all and (min-width: 1000px) 
            {
                .github_link {
                    padding-left: 500px;
                }
            }
        </style>
    </head>
<body>
    
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0 fixed-top">
        <a class="navbar-brand" href="{%url 'home'%}">
            <img src="https://cdn-icons-png.flaticon.com/512/3187/3187594.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Quality Life Report
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'home'%}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'demography'%}">Demograf&iacute;a</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'poverty'%}">Pobreza</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'education'%}">Educaci&oacute;n</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'safety'%}">Seguridad</a>
                </li>
                <li class="nav-item active bg-white">
                    <a class="nav-link text-dark" href="#">Movilidad</a>
                </li>
                <li class="nav-item github_link">
                    <a class="nav-link" target="_blank" href="https://github.com/EmilyV04/Python-DjangoDashboard-QualityLifeReport">
                        <img src="https://cdn.icon-icons.com/icons2/2429/PNG/512/github_logo_icon_147285.png" width="30" height="30" alt="">
                        View in GitHub
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1></h1>
        <p></p>
    </div>

    <!-- Table 'Matricula Vehicular' -->
    <div class="container">
        <h2>Matr&iacute;cula Vehicular en Cartagena</h2>
        <h5>
            Desde antes de la pandemia, <b>la matricula de
            vehículos iba a la baja, pero con la afectación
            económica de 2020 se aceleró</b>, pasando de
            4% en 2019 a solo un 0,8% en 2021.
        </h5>
        <br>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>AÑO</th>
                                <th>CANTIDAD DE MATR&Iacute;CULAS AUTOM&Oacute;VILES</th>
                                <th>CANTIDAD DE MATR&Iacute;CULAS MOTOCICLETAS</th>
                                <th>CANTIDAD DE MATR&Iacute;CULAS OTROS</th>
                                <th>ACCIONES</th>
                            </tr>
                        </thead>
                        {% for r in vehicule_registration %}
                            <tr>
                                <td>{{r.vehicule_registration_id}}</td>
                                <td>{{r.year}}</td>
                                <td>{{r.auto_index}}</td>
                                <td>{{r.moto_index}}</td>
                                <td>{{r.others_index}}</td>
                                <td>
                                    <div class="btn-group">
                                      <a class="btn-xs btn-success" href="/edit_matricula_view/{{ r.vehicule_registration_id }}">
                                        <i class="fa fa-pencil ml-2" aria-hidden="true"></i> <span class="mr-2">Edit</span>
                                      </a>
                                      <a class="btn-xs btn-danger" href="/delete_matricula/{{ r.vehicule_registration_id }}">
                                        <i class="fa fa-trash ml-2" aria-hidden="true"></i> <span class="mr-2">Delete</span>
                                      </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <button type="button" class="btn btn-primary" onclick="openModal('#myModal1')">
                    Agregar
                </button>
            </div>
            <div class="col-md-6 col-xs-12">
                <canvas id="chartBarMatriculas"></canvas>
            </div>
        </div>
    </div>
        
    <div class="modal" id="myModal1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Agregar registro</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
            
                <div class="modal-body">
                    <form action="/create_matricula" method="POST">
                        {% csrf_token %}
                        <div class="col-md-12 form-group">
                            <label for="">ID</label>
                            <input class="form-control" type="number" name="id_matri" id="id_matri" value="{{vehicule_registration.vehicule_registration_id}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Año</label>
                            <input class="form-control" type="number" name="anio_matri" id="anio_matri" value="{{vehicule_registration.year}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Matriculas Automóviles</label>
                            <input class="form-control" type="number" name="auto_matri" id="auto_matri" value="{{vehicule_registration.auto_index}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Matriculas Motocicletas</label>
                            <input class="form-control" type="number" name="moto_matri" id="moto_matri" value="{{vehicule_registration.moto_index}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Matriculas Otros</label>
                            <input class="form-control" type="number" name="other_matri" id="other_matri" value="{{vehicule_registration.others_index}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="myModal1-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Editar registro</h4>
                    <a class="close" href="/mobility">&times;</a>
                </div>
            
                <div class="modal-body">
                    <form action="/edit_matricula" method="POST">
                        {% csrf_token %}
                        <div class="col-md-12 form-group">
                            <label for="">ID - {{evehicule_registration.vehicule_registration_id}}</label>
                            <input type="hidden" name="modal_matricula_edit" id="modal_matricula_edit" value="{{modal_matricula_value}}">
                            <input class="form-control" type="hidden" name="eid_matri" id="eid_matri" value="{{evehicule_registration.vehicule_registration_id}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Año</label>
                            <input class="form-control" type="number" name="eanio_matri" id="eanio_matri" value="{{evehicule_registration.year}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Matriculas Automóviles</label>
                            <input class="form-control" type="number" name="eauto_matri" id="eauto_matri" value="{{evehicule_registration.auto_index}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Matriculas Motocicletas</label>
                            <input class="form-control" type="number" name="emoto_matri" id="emoto_matri" value="{{evehicule_registration.moto_index}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Matriculas Otros</label>
                            <input class="form-control" type="number" name="eother_matri" id="eother_matri" value="{{evehicule_registration.others_index}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            
                <div class="modal-footer">
                    <a class="btn btn-danger" href="/mobility">Close</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 p-4"></div>

    <!-- Table 'Comparendos' -->
    <div class="container">
        <h2>Comparendos en Cartagena</h2>
        <h5>
            <b>Por cada comparendo en 2020 se hicieron 2 en 2021.</b> El 60% de los
            comparendos son realizados a motociclistas.
        </h5>
        <br>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>AÑO</th>
                                <th>CANTIDAD DE COMPARENDOS AUTOM&Oacute;VILES</th>
                                <th>CANTIDAD DE COMPARENDOS MOTOCICLETAS</th>
                                <th>CANTIDAD DE COMPARENDOS OTROS</th>
                                <th>ACCIONES</th>
                            </tr>
                        </thead>
                        {% for v in vehicule_violation %}
                            <tr>
                                <td>{{v.vehicule_violation_id}}</td>
                                <td>{{v.year}}</td>
                                <td>{{v.auto_index}}</td>
                                <td>{{v.moto_index}}</td>
                                <td>{{v.others_index}}</td>
                                <td>
                                    <div class="btn-group">
                                      <a class="btn-xs btn-success" href="/edit_comparendo_view/{{ v.vehicule_violation_id }}">
                                        <i class="fa fa-pencil ml-2" aria-hidden="true"></i> <span class="mr-2">Edit</span>
                                      </a>
                                      <a class="btn-xs btn-danger" href="/delete_comparendo/{{ v.vehicule_violation_id }}">
                                        <i class="fa fa-trash ml-2" aria-hidden="true"></i> <span class="mr-2">Delete</span>
                                      </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <button type="button" class="btn btn-primary" onclick="openModal('#myModal2')">
                    Agregar
                </button>
            </div>
            <div class="col-md-6 col-xs-12">
                <canvas id="chartBarComparendos"></canvas>
            </div>
        </div>
    </div>
            
    <div class="modal" id="myModal2">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Agregar registro</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
            
                <div class="modal-body">
                    <form action="/create_comparendo" method="POST">
                        {% csrf_token %}
                        <div class="col-md-12 form-group">
                            <label for="">ID</label>
                            <input class="form-control" type="number" name="id_compa" id="id_compa" value="{{vehicule_violation.vehicule_violation_id}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Año</label>
                            <input class="form-control" type="number" name="anio_compa" id="anio_compa" value="{{vehicule_violation.year}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Comparendos Automóviles</label>
                            <input class="form-control" type="number" name="auto_compa" id="auto_compa" value="{{vehicule_violation.auto_index}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Comparendos Motocicletas</label>
                            <input class="form-control" type="number" name="moto_compa" id="moto_compa" value="{{vehicule_violation.moto_index}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Comparendos Otros</label>
                            <input class="form-control" type="number" name="other_compa" id="other_compa" value="{{vehicule_violation.others_index}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="myModal2-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Editar registro</h4>
                    <a class="close" href="/mobility">&times;</a>
                </div>
            
                <div class="modal-body">
                    <form action="/edit_comparendo" method="POST">
                        {% csrf_token %}
                        <div class="col-md-12 form-group">
                            <label for="">ID - {{evehicule_violation.vehicule_violation_id}}</label>
                            <input type="hidden" name="modal_comparendo_edit" id="modal_comparendo_edit" value="{{modal_comparendo_value}}">
                            <input class="form-control" type="hidden" name="eid_compa" id="eid_compa" value="{{evehicule_violation.vehicule_violation_id}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Año</label>
                            <input class="form-control" type="number" name="eanio_compa" id="eanio_compa" value="{{evehicule_violation.year}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Comparendos Automóviles</label>
                            <input class="form-control" type="number" name="eauto_compa" id="eauto_compa" value="{{evehicule_violation.auto_index}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Comparendos Motocicletas</label>
                            <input class="form-control" type="number" name="emoto_compa" id="emoto_compa" value="{{evehicule_violation.moto_index}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Comparendos Otros</label>
                            <input class="form-control" type="number" name="eother_compa" id="eother_compa" value="{{evehicule_violation.others_index}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            
                <div class="modal-footer">
                    <a class="btn btn-danger" href="/mobility">Close</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 p-4"></div>

    <!-- Footer -->
    <footer class="page-footer font-small bg-dark">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 text-white">© 2022 Copyright |
            <a class="text-white" href="">Emily Vanegas & Andr&eacute;s Torres</a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>

<script>
    $(document).ready(function(){
        graficarMatriculas();
        graficarComparendos();

        if($('#modal_matricula_edit').val() == 1) {
            $('#myModal1-1').modal({backdrop: 'static', keyboard: false})

        } else if($('#modal_comparendo_edit').val() == 1) {
            $('#myModal2-1').modal({backdrop: 'static', keyboard: false})

        }else{
            $('#myModal1-1').modal("hide");
            $('#myModal2-1').modal("hide");
        }
    });

    function openModal(id) {
        $('#id_matri').val('');
        $('#anio_matri').val('');
        $('#auto_matri').val('');
        $('#moto_matri').val('');
        $('#other_matri').val('');

        $('#id_compa').val('');
        $('#anio_compa').val('');
        $('#auto_compa').val('');
        $('#moto_compa').val('');
        $('#other_compa').val('');

        $(id).modal("show");
    }

    function graficarMatriculas(){
        var ctxBarMatriculas = document.getElementById('chartBarMatriculas').getContext('2d');
        var chartBarMatriculas = new Chart(ctxBarMatriculas, {
            type: 'bar',
            data: {
                labels: [{%for data in vehicule_registration%}'{{data.year}}',{%endfor%}],
                datasets: [{
                  label: 'Automóviles',
                    data: [{%for data in vehicule_registration%}{{data.auto_index}},{%endfor%}],
                    backgroundColor: [
                    'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                    'rgb(255, 99, 132)'
                    ],
                    borderWidth: 1
                },
                {
                  label: 'Motocicletas',
                    data: [{%for data in vehicule_registration%}{{data.moto_index}},{%endfor%}],
                    backgroundColor: [
                    'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                    'rgb(255, 159, 64)'
                    ],
                    borderWidth: 1
                },
                {
                  label: 'Otros',
                    data: [{%for data in vehicule_registration%}{{data.others_index}},{%endfor%}],
                    backgroundColor: [
                    'rgba(75, 192, 192, 0.2)'
                    ],
                    borderColor: [
                    'rgb(75, 192, 192)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                plugins:{
                    // legend: {display: false},
                    title: {
                        display: true,
                        text: "Matrícula Vehicular en Cartagena"
                    }
                }
            }
        });
    }

    function graficarComparendos(){
        var ctxBarComparendos = document.getElementById('chartBarComparendos').getContext('2d');
        var chartBarComparendos = new Chart(ctxBarComparendos, {
            type: 'bar',
            data: {
                labels: [{%for data in vehicule_violation%}'{{data.year}}',{%endfor%}],
                datasets: [{
                  label: 'Automóviles',
                    data: [{%for data in vehicule_violation%}{{data.auto_index}},{%endfor%}],
                    backgroundColor: [
                    'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                    'rgb(255, 99, 132)'
                    ],
                    borderWidth: 1
                },
                {
                  label: 'Motocicletas',
                    data: [{%for data in vehicule_violation%}{{data.moto_index}},{%endfor%}],
                    backgroundColor: [
                    'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                    'rgb(255, 159, 64)'
                    ],
                    borderWidth: 1
                },
                {
                  label: 'Otros',
                    data: [{%for data in vehicule_violation%}{{data.others_index}},{%endfor%}],
                    backgroundColor: [
                    'rgba(75, 192, 192, 0.2)'
                    ],
                    borderColor: [
                    'rgb(75, 192, 192)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                plugins:{
                    // legend: {display: false},
                    title: {
                        display: true,
                        text: "Matrícula Vehicular en Cartagena"
                    }
                }
            }
        });
    }

</script>