<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quality Life Report - Cartagena</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <!--CHART.JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>

        <style>
            body,h1,h2,h3,h4,h5,h6 {
                font-family: "Lato", sans-serif
            }
            .navbar-brand,.nav-item {
                padding: 8px;
            }
            .jumbotron {
                padding-top: 120px;
                padding-bottom: 220px;
                background: url(https://i.ibb.co/PCkmPwd/pobreza.png);
                background-size: 100% 100%;
                background-repeat:no-repeat;
            }
            @media all and (min-width: 400px) and (max-width: 1000px)
            {  
                .jumbotron {
                    background-size: 100% 60%;
                }
            }
            @media all and (min-width: 1000px) 
            {
                .github_link {
                    padding-left: 500px;
                }
            }
        </style>
    </head>
<body>
    
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0 fixed-top">
        <a class="navbar-brand" href="{%url 'home'%}">
            <img src="https://cdn-icons-png.flaticon.com/512/3187/3187594.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Quality Life Report
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'home'%}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'demography'%}">Demograf&iacute;a</a>
                </li>
                <li class="nav-item active bg-white">
                    <a class="nav-link text-dark" href="#">Pobreza</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'education'%}">Educaci&oacute;n</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'safety'%}">Seguridad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'mobility'%}">Movilidad</a>
                </li>
                <li class="nav-item github_link">
                    <a class="nav-link" target="_blank" href="https://github.com/EmilyV04/Python-DjangoDashboard-QualityLifeReport">
                        <img src="https://cdn.icon-icons.com/icons2/2429/PNG/512/github_logo_icon_147285.png" width="30" height="30" alt="">
                        View in GitHub
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1></h1>
        <p></p>
    </div>

    <!-- Table 'Incidencia Pobreza Monetaria' -->
    <div class="container">
        <h2>Incidencia Pobreza Monetaria</h2>
        <h5>
            Cartagena sigue siendo la ciudad con mayor nivel de
            pobreza monetaria entre las principales capitales de
            Colombia, <b>aún hay 77.482 nuevos pobres que dejó la pandemia.</b>
        </h5>
        <br>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>AÑO</th>
                                <th>CIUDAD</th>
                                <th>&Iacute;NDICE DE POBREZA (%)</th>
                                <th>ACCIONES</th>
                            </tr>
                        </thead>
                        {% for pm in monetary_poverty %}
                            <tr>
                                <td>{{pm.monetary_poverty_id}}</td>
                                <td>{{pm.year}}</td>
                                <td>{{pm.city}}</td>
                                <td>{{pm.poverty_index}}</td>
                                <td>
                                    <div class="btn-group">
                                      <a class="btn-xs btn-success" href="/edit_pomo_view/{{ pm.monetary_poverty_id }}">
                                        <i class="fa fa-pencil ml-2" aria-hidden="true"></i> <span class="mr-2">Edit</span>
                                      </a>
                                      <a class="btn-xs btn-danger" href="/delete_pomo/{{ pm.monetary_poverty_id }}">
                                        <i class="fa fa-trash ml-2" aria-hidden="true"></i> <span class="mr-2">Delete</span>
                                      </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <button type="button" class="btn btn-primary" onclick="openModal('#myModal1')">
                    Agregar
                </button>
            </div>
            <div class="col-md-6 col-xs-12">
                <canvas id="chartBarPobrezaMonetaria"></canvas>
            </div>
        </div>
    </div>

    <div class="modal" id="myModal1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Agregar registro</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
            
                <div class="modal-body">
                    <form action="/create_pomo" method="POST">
                        {% csrf_token %}
                        <div class="col-md-12 form-group">
                            <label for="">ID</label>
                            <input class="form-control" type="number" name="id_pomo" id="id_pomo" value="{{monetary_poverty.monetary_poverty_id}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Año</label>
                            <input class="form-control" type="number" name="anio_pomo" id="anio_pomo" value="{{monetary_poverty.year}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Ciudad</label>
                            <input class="form-control" type="text" name="ciudad_pomo" id="ciudad_pomo" value="{{monetary_poverty.city}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Indice de Pobreza (%)</label>
                            <input class="form-control" type="number" name="ind_pover_pomo" id="ind_pover_pomo" value="{{monetary_poverty.poverty_index}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="myModal1-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Editar registro</h4>
                    <a class="close" href="/poverty">&times;</a>
                </div>
            
                <div class="modal-body">
                    <form action="/edit_pomo" method="POST">
                        {% csrf_token %}
                        <div class="col-md-12 form-group">
                            <label for="">ID - {{emonetary_poverty.monetary_poverty_id}}</label>
                            <input type="hidden" name="modal_pomo_edit" id="modal_pomo_edit" value="{{modal_pomo_value}}">
                            <input class="form-control" type="hidden" name="eid_pomo" id="eid_pomo" value="{{emonetary_poverty.monetary_poverty_id}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Año</label>
                            <input class="form-control" type="number" name="eanio_pomo" id="eanio_pomo" value="{{emonetary_poverty.year}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Ciudad</label>
                            <input class="form-control" type="text" name="eciudad_pomo" id="eciudad_pomo" value="{{emonetary_poverty.city}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Indice de Pobreza (%)</label>
                            <input class="form-control" type="number" name="eind_pover_pomo" id="eind_pover_pomo" value="{{emonetary_poverty.poverty_index}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            
                <div class="modal-footer">
                    <a class="btn btn-danger" href="/poverty">Close</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 p-4"></div>

    <!-- Table 'Incidencia Pobreza Monetaria Extrema' -->
    <div class="container">
        <h2>Incidencia Pobreza Monetaria Extrema</h2>
        <h5>
            Cartagena es la segunda ciudad con menor nivel de indigencia de las principales
            capitales. <b>La pobreza extrema es el doble comparada con antes de pandemia.</b>
        </h5>
        <br>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>AÑO</th>
                                <th>CIUDAD</th>
                                <th>&Iacute;NDICE DE POBREZA (%)</th>
                                <th>ACCIONES</th>
                            </tr>
                        </thead>
                        {% for pme in extreme_monetary_poverty %}
                            <tr>
                                <td>{{pme.extreme_monetary_poverty_id}}</td>
                                <td>{{pme.year}}</td>
                                <td>{{pme.city}}</td>
                                <td>{{pme.poverty_index}}</td>
                                <td>
                                    <div class="btn-group">
                                      <a class="btn-xs btn-success" href="/edit_pomoex_view/{{ pme.extreme_monetary_poverty_id }}">
                                        <i class="fa fa-pencil ml-2" aria-hidden="true"></i> <span class="mr-2">Edit</span>
                                      </a>
                                      <a class="btn-xs btn-danger" href="/delete_pomoex/{{ pme.extreme_monetary_poverty_id }}">
                                        <i class="fa fa-trash ml-2" aria-hidden="true"></i> <span class="mr-2">Delete</span>
                                      </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <button type="button" class="btn btn-primary" onclick="openModal('#myModal2')">
                    Agregar
                </button>
            </div>
            <div class="col-md-6 col-xs-12">
                <canvas id="chartBarPobrezaMonetariaExtrema"></canvas>
            </div>
        </div>
    </div>
    
    <div class="modal" id="myModal2">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Agregar registro</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
            
                <div class="modal-body">
                    <form action="/create_pomoex" method="POST">
                        {% csrf_token %}
                        <div class="col-md-12 form-group">
                            <label for="">ID</label>
                            <input class="form-control" type="number" name="id_pomoex" id="id_pomoex" value="{{extreme_monetary_poverty.extreme_monetary_poverty_id}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Año</label>
                            <input class="form-control" type="number" name="anio_pomoex" id="anio_pomoex" value="{{extreme_monetary_poverty.year}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Ciudad</label>
                            <input class="form-control" type="text" name="ciudad_pomoex" id="ciudad_pomoex" value="{{extreme_monetary_poverty.city}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Indice de Pobreza (%)</label>
                            <input class="form-control" type="number" name="ind_pover_pomoex" id="ind_pover_pomoex" value="{{extreme_monetary_poverty.poverty_index}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="myModal2-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Editar registro</h4>
                    <a class="close" href="/poverty">&times;</a>
                </div>
            
                <div class="modal-body">
                    <form action="/edit_pomoex" method="POST">
                        {% csrf_token %}
                        <div class="col-md-12 form-group">
                            <label for="">ID - {{eextreme_monetary_poverty.extreme_monetary_poverty_id}}</label>
                            <input type="hidden" name="modal_pomoex_edit" id="modal_pomoex_edit" value="{{modal_pomoex_value}}">
                            <input class="form-control" type="hidden" name="eid_pomoex" id="eid_pomoex" value="{{eextreme_monetary_poverty.extreme_monetary_poverty_id}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Año</label>
                            <input class="form-control" type="number" name="eanio_pomoex" id="eanio_pomoex" value="{{eextreme_monetary_poverty.year}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Ciudad</label>
                            <input class="form-control" type="text" name="eciudad_pomoex" id="eciudad_pomoex" value="{{eextreme_monetary_poverty.city}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Indice de Pobreza (%)</label>
                            <input class="form-control" type="number" name="eind_pover_pomoex" id="eind_pover_pomoex" value="{{eextreme_monetary_poverty.poverty_index}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            
                <div class="modal-footer">
                    <a class="btn btn-danger" href="/poverty">Close</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 p-4"></div>

    <!-- Footer -->
    <footer class="page-footer font-small bg-dark">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 text-white">© 2022 Copyright |
            <a class="text-white" href="">Emily Vanegas & Andr&eacute;s Torres</a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>

<script>
    $(document).ready(function(){
        graficarPobrezaMonetaria();
        graficarPobrezaMonetariaExtrema();

        if($('#modal_pomo_edit').val() == 1) {
            $('#myModal1-1').modal({backdrop: 'static', keyboard: false})

        } else if($('#modal_pomoex_edit').val() == 1) {
            $('#myModal2-1').modal({backdrop: 'static', keyboard: false})

        }else{
            $('#myModal1-1').modal("hide");
            $('#myModal2-1').modal("hide");
        }
    });

    function openModal(id) {
        $('#id_pomo').val('');
        $('#anio_pomo').val('');
        $('#ciudad_pomo').val('');
        $('#ind_pover_pomo').val('');

        $('#id_pomoex').val('');
        $('#anio_pomoex').val('');
        $('#ciudad_pomoex').val('');
        $('#ind_pover_pomoex').val('');

        $(id).modal("show");
    }

    function graficarPobrezaMonetaria(){
        var ctxBarPobrezaMonetaria = document.getElementById('chartBarPobrezaMonetaria').getContext('2d');
        var chartBarPobrezaMonetaria = new Chart(ctxBarPobrezaMonetaria, {
            type: 'bar',
            data: {
                labels: [{%for data in monetary_poverty%}'{{data.city}}',{%endfor%}],
                datasets: [{
                    label: 'Indice de Pobreza (%)',
                    data: [{%for data in monetary_poverty%}{{data.poverty_index}},{%endfor%}],
                    backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(201, 203, 207, 0.2)'
                    ],
                    borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                    'rgb(201, 203, 207)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                plugins:{
                    legend: {display: false},
                    title: {
                        display: true,
                        text: "Incidencia de Pobreza Monetaria"
                    }
                }
            }
        });
    }

    function graficarPobrezaMonetariaExtrema(){
        var ctxBarPobrezaMonetariaExtrema = document.getElementById('chartBarPobrezaMonetariaExtrema').getContext('2d');
        var chartBarPobrezaMonetariaExtrema = new Chart(ctxBarPobrezaMonetariaExtrema, {
            type: 'bar',
            data: {
                labels: [{%for data in extreme_monetary_poverty%}'{{data.city}}',{%endfor%}],
                datasets: [{
                  label: 'Indice de Pobreza (%)',
                    data: [{%for data in extreme_monetary_poverty%}{{data.poverty_index}},{%endfor%}],
                    backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(201, 203, 207, 0.2)'
                    ],
                    borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                    'rgb(201, 203, 207)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                plugins:{
                    legend: {display: false},
                    title: {
                        display: true,
                        text: "Incidencia de Pobreza Monetaria Extrema"
                    }
                }
            }
        });
    }

</script>