<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quality Life Report - Cartagena</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <!--CHART.JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>

        <style>
            body,h1,h2,h3,h4,h5,h6 {
                font-family: "Lato", sans-serif
            }
            .navbar-brand,.nav-item {
                padding: 8px;
            }
            .jumbotron {
                padding-top: 120px;
                padding-bottom: 220px;
                background: url(https://i.ibb.co/vZTQCJM/seguridad.png);
                background-size: 100% 100%;
                background-repeat:no-repeat;
            }
            @media all and (min-width: 400px) and (max-width: 1000px)
            {  
                .jumbotron {
                    background-size: 100% 60%;
                }
            }
            @media all and (min-width: 1000px) 
            {
                .github_link {
                    padding-left: 500px;
                }
            }
        </style>
    </head>
<body>
    
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0 fixed-top">
        <a class="navbar-brand" href="{%url 'home'%}">
            <img src="https://cdn-icons-png.flaticon.com/512/3187/3187594.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Quality Life Report
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'home'%}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'demography'%}">Demograf&iacute;a</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'poverty'%}">Pobreza</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'education'%}">Educaci&oacute;n</a>
                </li>
                <li class="nav-item active bg-white">
                    <a class="nav-link text-dark" href="#">Seguridad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'mobility'%}">Movilidad</a>
                </li>
                <li class="nav-item github_link">
                    <a class="nav-link" target="_blank" href="https://github.com/EmilyV04/Python-DjangoDashboard-QualityLifeReport">
                        <img src="https://cdn.icon-icons.com/icons2/2429/PNG/512/github_logo_icon_147285.png" width="30" height="30" alt="">
                        View in GitHub
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Jumbotron -->
    <div class="jumbotron">
        <h1></h1>
        <p></p>
    </div>

    <!-- Table 'Muertes Violentas' -->
    <div class="container">
        <h2>Muertes Violentas en Cartagena</h2>
        <h5>
            <b>La seguridad en Cartagena ha mantenido las alertas encendidas.</b>
            A pesar de la pandemia, los casos de muertes violentas en la ciudad muestran
            una tendencia creciente.
        </h5>
        <br>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>AÑO</th>
                                <th>CANTIDAD DE CASOS DE MUERTES VIOLENTAS</th>
                                <th>&Iacute;NDICE DE SUICIDIOS (%)</th>
                                <th>&Iacute;NDICE DE MUERTES ACCIDENTALES (%)</th>
                                <th>&Iacute;NDICE DE MUERTES EN ACCIDENTES DE TRANSPORTE (%)</th>
                                <th>&Iacute;NDICE DE HOMICIDIOS (%)</th>
                                <th>ACCIONES</th>
                            </tr>
                        </thead>
                        {% for v in violent_death %}
                            <tr>
                                <td>{{v.violent_death_id}}</td>
                                <td>{{v.year}}</td>
                                <td>{{v.violent_death_amount}}</td>
                                <td>{{v.suicide_index}}</td>
                                <td>{{v.accidental_deaths_index}}</td>
                                <td>{{v.deaths_transportation_accidents_index}}</td>
                                <td>{{v.homicidies_index}}</td>
                                <td>
                                    <div class="btn-group">
                                      <a class="btn-xs btn-success" href="/edit_death_view/{{ v.violent_death_id }}">
                                        <i class="fa fa-pencil ml-2" aria-hidden="true"></i> <span class="mr-2">Edit</span>
                                      </a>
                                      <a class="btn-xs btn-danger" href="/delete_death/{{ v.violent_death_id }}">
                                        <i class="fa fa-trash ml-2" aria-hidden="true"></i> <span class="mr-2">Delete</span>
                                      </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <button type="button" class="btn btn-primary" onclick="openModal('#myModal1')">
                    Agregar
                </button>
            </div>
            <div class="col-md-6 col-xs-12">
                <canvas id="chartBarMuertesViolentas"></canvas>
            </div>
        </div>
    </div>
    
    <div class="modal" id="myModal1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Agregar registro</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
            
                <div class="modal-body">
                    <form action="/create_death" method="POST">
                        {% csrf_token %}
                        <div class="col-md-12 form-group">
                            <label for="">ID</label>
                            <input class="form-control" type="number" name="id_death" id="id_death" value="{{violent_death.violent_death_id}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Año</label>
                            <input class="form-control" type="number" name="anio" id="anio" value="{{violent_death.year}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Casos de Muertes Violentas</label>
                            <input class="form-control" type="number" name="amount" id="amount" value="{{violent_death.violent_death_amount}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Indice de Suicidios (%)</label>
                            <input class="form-control" type="number" name="suicide" id="suicide" value="{{violent_death.suicide_index}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Indice de Muertes Accidentales (%)</label>
                            <input class="form-control" type="number" name="accident" id="accident" value="{{violent_death.accidental_deaths_index}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Indice de Muertes en Accidentes de Transporte (%)</label>
                            <input class="form-control" type="number" name="transp" id="transp" value="{{violent_death.deaths_transportation_accidents_index}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Indice de Homicidios (%)</label>
                            <input class="form-control" type="number" name="homicide" id="homicide" value="{{violent_death.homicidies_index}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="myModal1-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Editar registro</h4>
                    <a class="close" href="/safety">&times;</a>
                </div>
            
                <div class="modal-body">
                    <form action="/edit_death" method="POST">
                        {% csrf_token %}
                        <div class="col-md-12 form-group">
                            <label for="">ID - {{eviolent_death.violent_death_id}}</label>
                            <input type="hidden" name="modal_death_edit" id="modal_death_edit" value="{{modal_death_value}}">
                            <input class="form-control" type="hidden" name="eid_death" id="eid_death" value="{{eviolent_death.violent_death_id}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Año</label>
                            <input class="form-control" type="number" name="eanio" id="eanio" value="{{eviolent_death.year}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Casos de Muertes Violentas</label>
                            <input class="form-control" type="number" name="eamount" id="eamount" value="{{eviolent_death.violent_death_amount}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Indice de Suicidios (%)</label>
                            <input class="form-control" type="number" name="esuicide" id="seuicide" value="{{eviolent_death.suicide_index}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Indice de Muertes Accidentales (%)</label>
                            <input class="form-control" type="number" name="eaccident" id="eaccident" value="{{eviolent_death.accidental_deaths_index}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Indice de Muertes en Accidentes de Transporte (%)</label>
                            <input class="form-control" type="number" name="etransp" id="etransp" value="{{eviolent_death.deaths_transportation_accidents_index}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Indice de Homicidios (%)</label>
                            <input class="form-control" type="number" name="ehomicide" id="ehomicide" value="{{eviolent_death.homicidies_index}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            
                <div class="modal-footer">
                    <a class="btn btn-danger" href="/safety">Close</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 p-4"></div>

    <!-- Table 'Violencia Intrafamiliar' -->
    <div class="container">
        <h2>Violencia Intrafamiliar en Cartagena</h2>
        <h5>
            La violencia de pareja sigue siendo el principal
            tipo de violencia intrafamiliar en la ciudad.
        </h5>
        <br>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>AÑO</th>
                                <th>CANTIDAD DE CASOS DE VIOLENCIA INTRAFAMILIAR</th>
                                <th>VIOLENCIA CONTRA EL ADULTO MAYOR</th>
                                <th>VIOLENCIA CONTRA NIÑOS, NIÑAS Y ADOLESCENTES</th>
                                <th>VIOLENCIA ENTRE OTROS FAMILIARES</th>
                                <th>VIOLENCIA DE PAREJA</th>
                                <th>ACCIONES</th>
                            </tr>
                        </thead>
                        {% for f in family_violence %}
                            <tr>
                                <td>{{f.family_violence_id}}</td>
                                <td>{{f.year}}</td>
                                <td>{{f.family_violence_amount}}</td>
                                <td>{{f.older_adult_index}}</td>
                                <td>{{f.children_teens_index}}</td>
                                <td>{{f.family_members_index}}</td>
                                <td>{{f.partner_index}}</td>
                                <td>
                                    <div class="btn-group">
                                      <a class="btn-xs btn-success" href="/edit_family_view/{{ f.family_violence_id }}">
                                        <i class="fa fa-pencil ml-2" aria-hidden="true"></i> <span class="mr-2">Edit</span>
                                      </a>
                                      <a class="btn-xs btn-danger" href="/delete_family/{{ f.family_violence_id }}">
                                        <i class="fa fa-trash ml-2" aria-hidden="true"></i> <span class="mr-2">Delete</span>
                                      </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <button type="button" class="btn btn-primary" onclick="openModal('#myModal2')">
                    Agregar
                </button>
            </div>
            <div class="col-md-6 col-xs-12">
                <canvas id="chartBarViolenciaIntrafamiliar"></canvas>
            </div>
        </div>
    </div>
        
    <div class="modal" id="myModal2">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Agregar registro</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
            
                <div class="modal-body">
                    <form action="/create_family" method="POST">
                        {% csrf_token %}
                        <div class="col-md-12 form-group">
                            <label for="">ID</label>
                            <input class="form-control" type="number" name="id_family" id="id_family" value="{{family_violence.family_violence_id}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Año</label>
                            <input class="form-control" type="number" name="anio_fam" id="anio_fam" value="{{family_violence.year}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Casos de Violencia Intrafamiliar</label>
                            <input class="form-control" type="number" name="amount_fam" id="amount_fam" value="{{family_violence.family_violence_amount}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Contra el Adulto Mayor</label>
                            <input class="form-control" type="number" name="adult" id="adult" value="{{family_violence.older_adult_index}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Niños, Niñas y Adolescentes</label>
                            <input class="form-control" type="number" name="child" id="child" value="{{family_violence.children_teens_index}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Entre Otros Familiares</label>
                            <input class="form-control" type="number" name="fami" id="fami" value="{{family_violence.family_members_index}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Entre Parejas</label>
                            <input class="form-control" type="number" name="pareja" id="pareja" value="{{family_violence.partner_index}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="myModal2-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Editar registro</h4>
                    <a class="close" href="/safety">&times;</a>
                </div>
            
                <div class="modal-body">
                    <form action="/edit_family" method="POST">
                        {% csrf_token %}
                        <div class="col-md-12 form-group">
                            <label for="">ID - {{efamily_violence.family_violence_id}}</label>
                            <input type="hidden" name="modal_family_edit" id="modal_family_edit" value="{{modal_family_value}}">
                            <input class="form-control" type="hidden" name="eid_family" id="eid_family" value="{{efamily_violence.family_violence_id}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Año</label>
                            <input class="form-control" type="number" name="eanio_fam" id="eanio_fam" value="{{efamily_violence.year}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Casos de Violencia Intrafamiliar</label>
                            <input class="form-control" type="number" name="eamount_fam" id="eamount_fam" value="{{efamily_violence.family_violence_amount}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Contra el Adulto Mayor</label>
                            <input class="form-control" type="number" name="eadult" id="eadult" value="{{efamily_violence.older_adult_index}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Niños, Niñas y Adolescentes</label>
                            <input class="form-control" type="number" name="echild" id="echild" value="{{efamily_violence.children_teens_index}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Entre Otros Familiares</label>
                            <input class="form-control" type="number" name="efami" id="efami" value="{{efamily_violence.family_members_index}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="">Entre Parejas</label>
                            <input class="form-control" type="number" name="epareja" id="epareja" value="{{efamily_violence.partner_index}}" required>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            
                <div class="modal-footer">
                    <a class="btn btn-danger" href="/safety">Close</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 p-4"></div>

    <!-- Footer -->
    <footer class="page-footer font-small bg-dark">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 text-white">© 2022 Copyright |
            <a class="text-white" href="">Emily Vanegas & Andr&eacute;s Torres</a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>

<script>
    $(document).ready(function(){
        graficarMuertesViolentas();
        graficarViolenciaIntrafamiliar();

        if($('#modal_death_edit').val() == 1) {
            $('#myModal1-1').modal({backdrop: 'static', keyboard: false})

        } else if($('#modal_family_edit').val() == 1) {
            $('#myModal2-1').modal({backdrop: 'static', keyboard: false})

        }else{
            $('#myModal1-1').modal("hide");
            $('#myModal2-1').modal("hide");
        }
    });

    function openModal(id) {
        $('#id_death').val('');
        $('#anio').val('');
        $('#amount').val('');
        $('#suicide').val('');
        $('#accident').val('');
        $('#transp').val('');
        $('#homicide').val('');

        $('#id_family').val('');
        $('#anio_fam').val('');
        $('#amount_fam').val('');
        $('#adult').val('');
        $('#child').val('');
        $('#fami').val('');
        $('#pareja').val('');

        $(id).modal("show");
    }

    function graficarMuertesViolentas(){
        var ctxBarMuertesViolentas = document.getElementById('chartBarMuertesViolentas').getContext('2d');
        var chartBarMuertesViolentas = new Chart(ctxBarMuertesViolentas, {
            type: 'bar',
            data: {
                labels: [{%for data in violent_death%}'{{data.year}}',{%endfor%}],
                datasets: [{
                  label: 'Suicidios (%)',
                    data: [{%for data in violent_death%}{{data.suicide_index}},{%endfor%}],
                    backgroundColor: [
                    'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                    'rgb(255, 99, 132)'
                    ],
                    borderWidth: 1
                },
                {
                  label: 'Muertes Accidentales (%)',
                    data: [{%for data in violent_death%}{{data.accidental_deaths_index}},{%endfor%}],
                    backgroundColor: [
                    'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                    'rgb(255, 159, 64)'
                    ],
                    borderWidth: 1
                },
                {
                  label: 'Muertes en Accidentes de Transporte (%)',
                    data: [{%for data in violent_death%}{{data.deaths_transportation_accidents_index}},{%endfor%}],
                    backgroundColor: [
                    'rgba(255, 205, 86, 0.2)'
                    ],
                    borderColor: [
                    'rgb(255, 205, 86)'
                    ],
                    borderWidth: 1
                },
                {
                  label: 'Homicidios (%)',
                    data: [{%for data in violent_death%}{{data.homicidies_index}},{%endfor%}],
                    backgroundColor: [
                    'rgba(75, 192, 192, 0.2)'
                    ],
                    borderColor: [
                    'rgb(75, 192, 192)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                plugins:{
                    // legend: {display: false},
                    title: {
                        display: true,
                        text: "Muertes Violentas en Cartagena"
                    }
                }
            }
        });
    }

    function graficarViolenciaIntrafamiliar(){
        var ctxBarViolenciaIntrafamiliar = document.getElementById('chartBarViolenciaIntrafamiliar').getContext('2d');
        var chartBarViolenciaIntrafamiliar = new Chart(ctxBarViolenciaIntrafamiliar, {
            type: 'bar',
            data: {
                labels: [{%for data in family_violence%}'{{data.year}}',{%endfor%}],
                datasets: [{
                  label: 'Adultos Mayores',
                    data: [{%for data in family_violence%}{{data.older_adult_index}},{%endfor%}],
                    backgroundColor: [
                    'rgba(255, 99, 132, 0.2)'
                    ],
                    borderColor: [
                    'rgb(255, 99, 132)'
                    ],
                    borderWidth: 1
                },
                {
                  label: 'Niños, Niñas y Adolescentes',
                    data: [{%for data in family_violence%}{{data.children_teens_index}},{%endfor%}],
                    backgroundColor: [
                    'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                    'rgb(255, 159, 64)'
                    ],
                    borderWidth: 1
                },
                {
                  label: 'Entre Otros Familiares',
                    data: [{%for data in family_violence%}{{data.family_members_index}},{%endfor%}],
                    backgroundColor: [
                    'rgba(255, 205, 86, 0.2)'
                    ],
                    borderColor: [
                    'rgb(255, 205, 86)'
                    ],
                    borderWidth: 1
                },
                {
                  label: 'Parejas',
                    data: [{%for data in family_violence%}{{data.partner_index}},{%endfor%}],
                    backgroundColor: [
                    'rgba(75, 192, 192, 0.2)'
                    ],
                    borderColor: [
                    'rgb(75, 192, 192)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                plugins:{
                    // legend: {display: false},
                    title: {
                        display: true,
                        text: "Violencia Intrafamiliar en Cartagena"
                    }
                }
            }
        });
    }

</script>